snippet hello "C++ Hello World"
#include <iostream>

int main()
{
	std::cout << "Hello World!\n";
	return 0;
}
endsnippet

snippet mu "c++ [[maybe_unused]]"
[[maybe_unused]]
endsnippet

snippet Tab_trigger "Description" b

endsnippet
